  <div class="instructions">
<h1>Welcome To Restaurant Menus</h1>
  <div class="list-instruction">
    <ol>
        <li><p>To view a menu, enter the URL in the format: <code>/menu/YOUR_FILE_PATH</code></p></li>
       <li><p>Example: <code>/menu/path/to/your/yamlfile.yaml</code></p></li>
       <li><p class="current-files">Current Files: Perfect-plate.yaml and fast-brunch.md</p></li>
    </ol>
  </div>
   
  </div>
  