body {
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 1200px;
    padding: 5px;
}

.left-pane {
    background-image: url('./images/background_2.jpg');
    background-size:cover;
    width: 400px;
}

.right-pane {
    max-width: 600px;
    background-color: orange;
    padding: 20px;
}

.right-pane h1 {
    text-align: right;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    .instructions{
        display: block;
        justify-content: center;
        background-color: #e3cccc;
        padding: 10px;
        border: solid transparent 2px;
        border-radius: 40px;
        margin:40px;
    }
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
  }
  
  .list-instruction {
    margin: 20px 0;
  }
  
  ol {
    text-align: left;
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
  }
  
  code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  .menu-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .left ul, .right ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left ul li, .right ul li {
    margin-bottom: 10px;
  }
  .left, .right {
    display: inline-block;
    width: 45%;
  }
  .left{
    margin-left: 40px;
  }
  
  h1,h3{
    text-align: center;
  }
  .left a, .right a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .left a:hover, .right a:hover {
    color: #2980b9;
  }